<h1>Liste ds categories</h1>
<div class="d-flex justify-content-end mb-3">
    <button  class="btn btn-primary" (click)="openModal()">Add Category</button>
</div>
<table class="table table-bordered">
    <thead>
       <tr>
         <th scope="col">Libelle</th>
         <th scope="col">Date Création</th>
         <th scope="col">Dernier modification</th>
         <th scope="col">Action</th>
       </tr>
    </thead>
    <tbody>
       <tr>
         <th >1</th>
         <td>Mark</td>
         <td>Otto</td>
         <td>@mdo</td>
       </tr>
       <tr>
         <th scope="row">2</th>
         <td>Jacob</td>
         <td>Thornton</td>
         <td>@fat</td>
       </tr>
       <tr>
         <th scope="row">3</th>
         <td>Larry</td>
         <td>the Bird</td>
         <td>@twitter</td>
       </tr>
    </tbody>
   </table>